@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:wght@400;700&family=Outfit:wght@400;500;600&family=Figtree:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set default body font to Figtree */
@layer base {
  body {
    font-family: 'Figtree', sans-serif;
  }
}

html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden; /* prevent horizontal scroll */
}

